USE [master]
GO
/****** Object:  Database [CloudCraft]    Script Date: 12/10/2019 7:52:03 PM ******/
CREATE DATABASE [CloudCraft]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CloudCraft', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\CloudCraft.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CloudCraft_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\CloudCraft_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CloudCraft].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CloudCraft]
GO
/****** Object:  Table [dbo].[ApplicationUser]    Script Date: 12/10/2019 7:52:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ApplicationUser](
	[ApplicationUserId] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](32) NOT NULL,
	[EmailAddress] [nvarchar](320) NOT NULL,
	[FirstName] [nvarchar](100) NOT NULL,
	[LastName] [nvarchar](100) NOT NULL,
	[PasswordHash] [binary](64) NOT NULL,
	[PasswordSalt] [binary](128) NOT NULL,
	[LastLoginDate] [datetime] NULL,
	[UserStatusId] [int] NOT NULL,
	[DateCreated] [datetime] NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[DateModified] [datetime] NOT NULL,
	[ModifiedBy] [int] NULL,
	[Deleted] [bit] NULL,
	[DateDeleted] [datetime] NULL,
	[DeletedBy] [int] NULL
) ON [PRIMARY]
GO
USE [master]
GO
